<div class="row">
  <div class="col-md-4">
    <div class="card">

      <div class="container">
        <h4><b>CoronaVirus Confirmed Cases</b></h4>
        <p><strong>{{data.confirmed}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">

      <div class="container">
        <h4><b>Total Deaths</b></h4>
        <p style="color: darkred"><strong>{{data.deaths}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">

      <div class="container">
        <h4><b>Total Recovered</b></h4>
        <p style="color: darkgreen;"><strong>{{data.recovered}}</strong></p>
      </div>
    </div>
  </div>


</div>
