<div>
  <div style="text-align: center">
    <div id="maincounter-wrap" style="margin-top:15px">
      <h1>CoronaVirus Cases:</h1>
      <div class="maincounter-number">
        <span style="color:#aaa"> {{data.cases.total}} </span>
      </div>
    </div>

    <div id="maincounter-wrap" style="margin-top:15px">
      <h1>Deaths:</h1>
      <div class="maincounter-number">
        <span style="color: red">{{data.deaths.total}}</span>
      </div>
    </div>
    <div id="maincounter-wrap" style="margin-top:15px;">
      <h1>Recovered:</h1>
      <div class="maincounter-number" style="color:#8ACA2B ">
        <span>{{data.cases.recovered}}</span>
      </div>
    </div>
  </div>
</div>
