<!-- <input type="text" [(ngModel)]="countryName">
<button (click)="search()">Search</button> -->
<div *ngIf="send">
  <div style="margin-top: 10px">
    <app-card-display [data]='doughnut'></app-card-display>
  </div>

  <div style="margin-top: 10px" *ngIf="send">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 ">
        <div class="row-cols-1">
          <app-doughnut-chart [data]='doughnut'></app-doughnut-chart>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 ">
        <div class="row-cols-2">
          <app-barrepresent [countryData]='barChartValue'></app-barrepresent>
        </div>
      </div>
    </div>

    <div style="align-content: center" class='container-lg container-md container-sm'>
      <app-tablerep></app-tablerep>
    </div>

  </div>
</div>
