<!-- <input type="text" [(ngModel)]="countryName">
<button (click)="search()">Search</button> -->
<div>
  <app-navbar></app-navbar>
  <div style="margin-top: 10px" *ngIf="activateCard">
    <app-card-display [data]='TotalData'></app-card-display>
  </div>

  <div class="row" style="margin-top: 10px" *ngIf="send">

    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
      <div class='col'>
        <div>
          <app-doughnut-chart [data]='TotalData'></app-doughnut-chart>
        </div>
        <div>
          <app-barrepresent [countryData]='barChartValue'></app-barrepresent>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-8 col-xl-8">
      <app-tablerep></app-tablerep>
    </div>

    <!-- <div class="col-md-1 col-lg-1 col-sm-1"></div> -->




  </div>
</div>
