<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>

<body>
  <div><strong>Search </strong> <input type='text' placeholder="CountryName/other" id='search' [(ngModel)]="enteredtext"
      (change)="filterdata(enteredtext)" /></div>
  <div class="table-responsive ">
    <table id="table" class="table  table-hover">
      <thead>
        <tr>
          <th>Country or Other</th>
          <th>Total Cases</th>
          <th>New Cases</th>
          <th>Total Deaths</th>
          <th>New Deaths</th>
          <th>Recovered</th>
          <th>Active Cases</th>
          <th>critical Cases</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Filterdata">
          <!-- <th scope="row">3</th> -->

          <td><strong>{{item.country}}</strong></td>
          <td><strong>{{item.cases.total}}</strong></td>
          <td><strong>{{item.cases.new}}</strong></td>
          <td style='background-color: red'><strong>{{item.deaths.total}}</strong></td>
          <td><strong>{{item.deaths.new}}</strong></td>
          <td style="background-color: green"><strong>{{item.cases.recovered}}</strong></td>
          <td><strong>{{item.cases.active}}</strong></td>
          <td><strong>{{item.cases.critical}}</strong></td>


        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
<router-outlet></router-outlet>
