
body {
margin-top: 15px;
   border-style:outset;
       font-size: 15px;
  }
  .table{
      border-radius: 15px
  }
#search{
  border-radius: 10px;
  border-style: ridge
}
th{
  border-radius: 15px;
  font-size: 18px
}

