
#nav :hover {
  cursor: pointer;
}
body {
  font-size: 20px;
  border-style: ridge
}
.navbar{
  position: relative;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 8s infinite linear;
}


